  <div class="section">
    Extend the about view to provide contact details 
    (may be fictitious) for the author/company that 
    created the app
    <br>
    This app was created by Kate for a college assignment.
    The code is free to use and can be accessed on Kate's GitHub account
    <br><br>
    <p>Maps are displayed using OpenStreetMap <a href="//www.openstreetmap.org/copyright">Copyright Notice</a>. This data is available under the Open Database License.</p>
    <p>For more information contact WeatherTop HQ: <a href=mailto:weathertophq@weathertop.com>weathertophq@weathertop.com</a></p>
    <br><br>
    A Weather Application - Version 2
  </div>