  <div class="section">
    This app was created by Kate for a college assignment.
    The code is free to use and can be accessed on <a href="https://github.com/katmolony/weather-top-v2">Kate's GitHub account</a>
    <br><br>
    The template used was prepared in support of 
    <a href="https://next.tutors.dev/course/web-dev-2-2023">
    [Web Development II]
    </a> module in the 
    <a href="https://reader.tutors.dev/course/wit-hdip-comp-sci-showcase.netlify.app)"> 
    [Diploma in Computing]</a>
    at <a href="https://www.setu.ie/">[SETU]</a>, Ireland.
    <br><br>
    <p>Maps are displayed using OpenStreetMap <a href="//www.openstreetmap.org/copyright">Copyright Notice</a>. This data is available under the Open Database License.</p>
    <p>For more information contact WeatherTop HQ: <a href=mailto:weathertophq@weathertop.com>weathertophq@weathertop.com</a></p>
    <br><br>
    A Weather Application - Version 2
  </div>