<div class="box box-link-hover-shadow">
  <section class="label has-text-centered">
    Welcome {{user.firstName}} to your Weather Top account
    <br><br>
    Explore the dashboard and check out the latest readings from your personal
    weather stations. Scroll down to add stations. 
    Customise you dashboard by deleting stations. 
    Click into stations to explore different readings.
  </section>
  {{!-- <div class="list has-text-centered">
    <p>Our WeatherTop App allows you to:</p>
    <li>Monitor latest weather station readings</li>
    <li>Create your own stations</li>
    <li>Add readings from your own kits</li>
    <li>Delete stations and readings</li>
    <li>Have your own unique station dashboard</li>
    <li>Edit your profile details</li>
  </div> --}}
</div>