{{> menu active="about"}}

<section class="box is-3 has-text-centered">
  <h3 class="title">
    Weather Top V.2
  </h3>
  <div class="section">
    A Weather Application - Version 2
  </div>
</section>